{% extends "layouts/base.html" %}

{% block title %} User {% endblock %}

{% block content %}
<html>
  <head>
    <title></title>
  </head>
  <body>
    <a href="{{ url_for('authentication_blueprint.logout') }}" >
      <i class="tim-icons icon-button-power"></i>
      <p>Logout</p>
    </a>
    <div class="row">
      <div class="col-md-12">
          <div class="card card-profile">
              <div class="card-body">
                  <h4 class="card-title">
                      <form action="/index" method="POST" enctype="multipart/form-data">
                          Select image to upload:
                          <br>
                          <input id='inputfile' type='file' name='inputfile' class='form-control'>
                          <br>
                          <input class="form-control" type="text" name="person" placeholder = "enter receiver" value="" id=''>
                          <br>
                          <input type="submit" value="submit" class='btn btn-primary btn-round'>
                      </form>
                  </h4>
                  <div id = 'photos'></div>
                  <div id = 'code'>
                    <script> 
                      var allData = JSON.parse('{{allData | tojson}}'); 
                      var imgs = "";
                      for(let i = 0; i < Object.keys(allData['code']).length; i++) {
                        eval(allData['code'][i]);
                      }
                      for(let i = 0; i < Object.keys(allData['name']).length; i++) {
                        imgs += "<img src = 'static/uploads/" + allData['name'][i] + "')>"
                      }
                      document.getElementById('photos').innerHTML = imgs;
                    </script>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
{% endblock content %}
